/* Your SCSS here. */

// Styles (1920x1080, 1366x768, 1280x720, 1024x768)
// @media only screen and (max-width: 960px) { // Fluid Layout
// }

// Responsiveness
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fixed { // Apply to containers
    max-width: 1280px;
}

// Note on responsiveness: - Better to implement via giving non-section elements max width than by @media conditions

// General Sections

.banner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;

    background-image: url("../assets/background.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: top;
    // background-; :
}

.bannerlogo {
    height: 400px;
}


.page { // Might be more flexible to be able to assign properties to page as a whole?
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    // overflow: scroll;
}

.header {
    height:20%;
}

#topnav {
    padding: 20px 20px;
    width:100%;
    background-color: black;
    position: sticky;
    top: 0;
    transition: 0.4s;
    z-index: 99;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

#topnav a {
    text-align: center;
    text-decoration: none;
    color:whitesmoke;
    margin:1%;
    padding:0.5%;
}

#topnav a:hover { 
    color:white;
    text-decoration: underline;
}

#topnav a.active {
    color:black;
    background:white;
}

@media      // Smooth Scrolling
(prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior:smooth;
    }
}

.test {
    height:500px;
}

// Containers
.sectionh { // Horizontal Section
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2%;
    width:100%;
    // margin: 0;
}

.sectionv { // Vertical Section (Textboxes, columns, etc)
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 2%;
    width:100%;

}

.skin {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0px;
}

.buffer {
    height: 50px;
}

.button {
    margin: 0.5rem;
}

// Carousel
.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.carousel > ul { // NOTE: This is how to set values for tags contained in a class
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.carousel-button {
    position: absolute;
    background: none;
    border: none;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
    border-radius: .25rem;
    padding: 0.5rem;
    background-color: black;
    z-index: 1;
}

.carousel-button:hover {
    color: black;
    background-color: white;
}

#button-left {
    left: 1rem;
}

#button-right {
    right: 1rem;
}

.slide {
    display: none;
    position: absolute;
    inset: 0;
    flex-flow: column nowrap;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    width:100%;
}

.slide#slide1 {
    display: flex;
}

.slide > img {
    height: 100%;
    // display: block;
}

// Modal
.modal {
    position: fixed;
    max-width: 640px; // Half of section max
    width: 50%;
    margin: auto;
}

.modal::backdrop {
    // background: linear-gradient(0deg,blue,orange);
    background:black;
    opacity: 0.5;
}

// General Elements
.featured {
    height: 50%
}

.thumbnail {
    width: 80%;
    margin: 0.5rem;
}

.textbox {
    width: 30%;
    border-radius:7%;
    
}

.icon {
    width:100px;
    height:100px;
}

// Color Pallettes
.accent1 {
    background: black;
    color: white;
}

.accent2 {
    background: rgb(33, 33, 33);
    color: white;
}

.color1 {
    background: azure;
    color: black;
}

.color2 {
    background: cornflowerblue;
    color: white;
}

:root {
    --dark-color1: brown;
    --main-color1: beige;
    --dark-color2: skyblue;
    --main-color2: lightskyblue;
}

// Cosmetic Tags
.shadow1 {
    box-shadow: 5px 5px 10px black;
}

body {
    margin: 0;
}


.fade-in {
    animation-duration: 5s;
    animation-name: fadein;
}

.fade-out {
    animation-duration: 1s;
    animation-name: fadeout;
}


@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes fadeout {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}

